.wrapper {
  width: 46rem;
  margin: -1.6875rem auto;

  display: flex;
  flex-direction: column;

  gap: 4rem;
  align-items: center;
}

.addTaskForm {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.taskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.taskList header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}